/** 常用色值 **/
/** 常用字体大小 **/
.header {
  background-color: #ffffff;
}
.header .header-top {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: right;
}
.header a {
  margin-left: 40px;
  color: red;
}
.header .breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title {
  width: 180px;
  height: 100%;
  text-align: center;
  color: #666;
  white-space: nowrap;
  font-size: 18px;
}
.header .breadcrumb .breadcrumb-title:after {
  position: absolute;
  content: '';
  left: 73px;
  top: 39px;
  border-top: 9px solid #ffffff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.header .weather {
  text-align: right;
  font-size: 14px;
}
.header .weather .date {
  margin-right: 10px;
  vertical-align: middle;
}
.header .weather .weather-img img {
  height: 15px;
}
.header .weather .weather-detail {
  margin-left: 5px;
  vertical-align: middle;
}
.simple-page .header-top {
  background: #1890ff;
  color: #ffffff;
}
